// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {
    background-color: hwb(37 34% 0%);
    font-family: Roboto, sans-serif;
    padding: 20px;

    input {
        margin-bottom: 10px;
    }

    button {
        margin-bottom: 10px;
    }

    img {
        border-color: rgb(255, 255, 255);
        border-width: 2px;
    }
}

// .image {
//     border-color: rgb(255, 255, 255);
//     border-width: 2px;
// }

.footer {
    position: fixed;
    bottom: 0;
    margin-top: 40px;
    font-size: 10px;
    font-style: unset;
}